<h2>Товар</h2>
<div class="catalog-menu">
<div class='catalog-list'>
    <p class='text'>{{product.name}}</p>
    <img src="/img/{{product.image}}">
    <span class="price">Цена: {{product.price}}$</span>
    <p class="text">{{product.description}}</p>
    <button class="buy">Купить</button>
</div>
</div>