<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
    <link rel="stylesheet" href="../css/style.css?{{random(1,22323)}}">
</head>
<body>
{{  menu | raw }}
{{  content | raw }}
</body>
</html>