<!--<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
Привет {{ name }}
</body>
</html>
-->
<p class="welcome">Добро пожаловать в магазин!</p>